
<h1>Beauty Parlour Courses</h1><br>
<div class="course">
  <img src="assets/beauty.jpeg" alt="Beauty Essentials Master class">
  <div class="course-details">
    <h2>Beauty Essentials Master class</h2>
    <ul>
      <li style="color:darkred">Fees: 15000/-</li>
      <li style="color:darkred">Duration: 3 months</li>
      <li style="color:darkred">What is learned in this class:</li>
      <ul>
        <li>Introduction to Beauty Essentials</li>
        <li>Skin Care Basics</li>
        <li>Makeup Fundamentals</li>
        <li>Advanced Makeup Techniques</li>
        <li>Beauty Product Knowledge</li>
        <li>Professional Grooming and Hygiene</li>
        <li>Hands-on Practice and Assessment</li>
      </ul>
    </ul>
  </div>
</div>


<div class="course">
  <img src="assets/hairstyle_img.jpg" alt="Hair Styling Course">
  <div class="course-details">
    <h2>Hair Styling Course</h2>
    <ul>
      <li style="color:darkred">Fees: 12000/-</li>
      <li style="color:darkred">Duration: 1.5 months</li>
      <li style="color:darkred">What is learned in this class:</li>
      <ul>
        <li>Introduction to Hair Styling</li>
        <li>Hair Structure and Health</li>
        <li>Hair Consultation and Client Interaction</li>
        <li>Tools and Equipment for Hair Styling</li>
        <li>Hair Cutting Techniques</li>
        <li>Hair Coloring Techniques</li>
        <li>Hair Styling Techniques</li>
        <li>Chemical Treatment</li>
      </ul>
    </ul>
  </div>
</div>


<div class="course">
  <img src="assets/nails1.jpg" alt="Nail Art Course">
  <div class="course-details">
    <h2>Nail Art Course</h2>
    <ul>
      <li style="color:darkred">Fees: 8000/-</li>
      <li style="color:darkred">Duration: 1 month</li>
      <li style="color:darkred">What is learned in this class:</li>
      <ul>
        <li>Introduction to Nail Art</li>
        <li>Nail Anatomy and Health</li>
        <li>Nail Preparation Techniques</li>
        <li>Types of Nails</li>
        <li>Nail Art Tools and Products</li>
        <li>Gel and Acrylic Application</li>
        <li>Creative Nail Art Techniques</li>
        <li>Marketing and Branding</li>
        <li>Practical Application and Assessment</li>
      </ul>
    </ul>
  </div>
</div>

<div class="course">
  <img src="assets/skincare.jpeg" alt="Skincare Course">
  <div class="course-details">
    <h2>Skincare Course</h2>
    <ul>
      <li style="color:darkred">Fees: 20000/-</li>
      <li style="color:darkred">Duration: 3 months</li>
      <li style="color:darkred">What is learned in this class:</li>
      <ul>
        <li>Introduction to Skin Science</li>
        <li>Skin Products and Ingredients</li>
        <li>Skincare Treatments</li>
        <li>Skin Health and Nutrition</li>
        <li>Professional Skincare Practice</li>
        <li>Practical Application</li>
        <li>Marketing and Client Relations</li>
      </ul>
    </ul>
  </div>
</div>
 <div class="booking-btn">
    <button (click)="goToBooking()">Booking for Courses</button>
</div>
  <br>
  <br>
